

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.5em;
    color: #7f8c8d;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #00d10b;
    color: white;
    padding: 0.6em 2em;
    border-radius: 3px;
}

a.pure-button-primary {
    background: #009508;
    color: #ffffff;
    width: 100%;
    font-size:1.3em;
    letter-spacing: 1.3px;
    font-weight: 550;
}

.explain {
	color: white;
	text-decoration: underline;
}

.splash-container {
    background: #002c49;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.content-wrapper {
	 overflow: hidden;
}

.splash {
    /* absolute center .splash within .splash-container */
    margin: auto;
    top: 10px; left: 0; bottom: 0; right: 0;
    max-width: 300px;
    text-align: center;
}

/* This is the subheading that appears on the blue section */
.splash-content {
    color: white;
    font-size: 1.1em;
}
.splash-img {
	margin-top: 20px;
	max-height: 200px;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
}
