.responsive-table-input-matrix {
  margin: 1em 0;
  width: 100%;
}
@media (min-width: 480px) {
  .responsive-table-input-matrix .responsive-table-input-matrix {
    width: auto;
  }
}
.responsive-table-input-matrix tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.responsive-table-input-matrix tr td {
  text-align: left;
}
@media (min-width: 480px) {
  .responsive-table-input-matrix tr td {
    text-align: left;
  }
}
.responsive-table-input-matrix tr td:first-of-type {
  text-align: left;
}
.responsive-table-input-matrix th {
  display: none;
}
.responsive-table-input-matrix td {
  display: block;
}
.responsive-table-input-matrix td:first-child {
  padding-top: .5em;
}
.responsive-table-input-matrix td:last-child {
  padding-bottom: .5em;
}
.responsive-table-input-matrix td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 9em;
  display: inline-block;
}
@media (min-width: 480px) {
  .responsive-table-input-matrix td:before {
    display: none;
  }
}
.responsive-table-input-matrix th:first-of-type {
  text-align: left;
}
.responsive-table-input-matrix th, .responsive-table-input-matrix td {
  text-align: center;
}
@media (min-width: 480px) {
  .responsive-table-input-matrix th, .responsive-table-input-matrix td {
    display: table-cell;
    padding: .15em .25em;
  }
  .responsive-table-input-matrix th:first-child, .responsive-table-input-matrix td:first-child {
    padding-left: 0;
  }
  .responsive-table-input-matrix th:last-child, .responsive-table-input-matrix td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
  line-height: 2em;
  text-align: center;
}

.responsive-table {
  background: #34495E;
  color: #fff;
  font-weight: bold;
  border-radius: .4em;
}
.responsive-table tr {
  border-color: #46627f;
}
.responsive-table th, .responsive-table td {
  margin: .2em 0.5em;
}
@media (min-width: 480px) {
  .responsive-table th, .responsive-table td {
    padding: 0.5em !important;
  }
}
.responsive-table th, .responsive-table td:before {
  color: #dd5;
}
.featured {
	font-size: 1.4em;
}
.list {
	font-size: 1.2em;
}
.icon-star {
	margin: 2px;
}
.logo {
	text-align: center;
}
.footer {
	text-align: center;
	margin-top:20px;
	height:60px;
}
.pure-button {
    background-color: #eee;
    color: #444;
    padding: 0.6em 2em;
    border-radius: 3px;
}

a.pure-button-primary {
    background: #eee;
    color: #444;
    letter-spacing: 1.3px;
    font-weight: 550;
}
.content {
	text-align: center;
	font-size:1.1em;
}